h1, h2, h3 {
    font-family: 'Kalam', cursive;
    color: #004b1a;
}
h1 {
    text-align: center;
    padding: 15px;
    font-size: 50px;
    border-bottom: 7px solid #6b4227;

}


body {
    background-color: #faebd7;
}
.videoFlexbox {
    display: flex;
}
.video iframe{
    width: 560px;
    height: 315px;
}
.sideNote {
    max-width: 450px;
    margin-right: 15px;
    margin-left: 15px;
}
p {
    font-size: 18px;
}

main {
    background-image: url("https://res.cloudinary.com/margaretkellogg/image/upload/v1580792206/Let%27s%20Plant%20Trees/mountain-trees_uskocp.jpg");
}
.mainFlexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

select {
    margin-left: 30px;
}

.backgroundTyping {
    background-color: white;
    opacity: 0.75;
    margin: 25px;
    padding: 2px 15px; 
}
#StateDivs {
    margin: 25px;
    padding: 2px 15px;
}

#treeDivs {
    margin: 25px;
    padding: 2px 15px;
}

.invisible {
    display: none;
}
.visible {
    display: block;
}

#treeButton {
    margin-left: 15px;
}
#stateButton {
    margin-left: 15px;
}
#guidelines {
    margin: 25px;
    padding: 2px 15px;
}
button:hover {
    opacity: 100%;
}
select:hover {
    opacity:100%;
}

.fling-minislide {
    position: relative;
    width: 100%;
    height: 400px;
}

.fling-minislide img {
    position: absolute;
    animation: fling-minislide 10s infinite;
    opacity: 0;
    width: 100%;
    height: 100%;
}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:1;}}
.fling-minislide img:nth-child(3){animation-delay: 0s;}
.fling-minislide img:nth-child(2){animation-delay: 3s;}
.fling-minislide img:nth-child(1){animation-delay: 6s;}

footer {
    margin:15px;
    padding: 10px;
    border: 10px double #6b4227;
    background-color: white;
    opacity: .6;
}
p #signature {
    margin-left: 75%;
    font-size: 10px;
}

/* media query */

@media(max-width:800px) {
.videoFlexbox {
    display: block;
    width: 95%;
    margin: auto;
}

.sideNote {
    max-width:700px;
    margin: auto;
}
}

@media(max-width:460px) {

body{
    max-width: 100vw;
}

p { 
    font-size: 14px;
    max-width: 100%;
}

.videoFlexbox{
    display: block;
    width: 90%;
    margin: auto;
}
div .sideNote {
    padding-left: 6%;
    padding-right: 6%;
}
h1 {
    font-size: 22px;
}

body .video iframe{
    height: 205px;
    width: 364px;
    display: block;
    margin: auto;
}
}
.fling-minislide {
    height: 80px;
}

@media(max-width:360px) {

body{
    max-width: 100%;
}
body .video iframe{
    height: 175px;
    width: 317px;
    display: block;
    margin: auto;
}
h2 { 
    font-size: 18px;
}

h3 {
    font-size: 16px;
}
p {
    font-size: 12px;
}

.backgroundTyping {
    margin-right: 7%;
    margin-left: 7%;
}
button {
    margin-top: 4px;
}

}
